.table {
	max-width: 100%;
	margin: 10px auto;

	.row {
		margin: 0;
	}

	.head-list {
		background: #DADADA;
		border: none;
		padding: 15px;

		@media screen and (max-width: 500px) {
			padding: 15px 5px;
		}

		p {
			background: #DADADA;
			margin: 0;
		}
	}

	.file-card {
		border-bottom: 1px solid transparent;
		-moz-border-image: -moz-linear-gradient(to right, #fff 0%,#CACACA 50%, #fff 100%);
	    -webkit-border-image: -webkit-linear-gradient(to right, #fff 0%,#CACACA 50%, #fff 100%);
	    border-image: linear-gradient(to right, #fff 0%,#CACACA 50%, #fff 100%);
	    border-image-slice: 1;
		padding: 15px;

		@media screen and (max-width: 500px) {
			padding: 15px 5px;
		}

		&:hover {
			border-bottom: 1px solid transparent;
			-moz-border-image: -moz-linear-gradient(to right, #fff 0%,#A04545 50%, #fff 100%);
		    -webkit-border-image: -webkit-linear-gradient(to right, #fff 0%,#A04545 50%, #fff 100%);
		    border-image: linear-gradient(to right, #fff 0%,#A04545 50%, #fff 100%);
		    border-image-slice: 1;
			text-decoration: none;

			p {
				color: #A04545;
			}
		}

		p {
			margin: 0;
			color: #464646;
		}
	}
}

// form {
// 	max-width: 70%;
// 	margin: 40px auto 0;

// 	@media screen and (max-width: 991px) {
// 		max-width: 90%;
// 	}

// 	@media screen and (max-width: 767px) {
// 		max-width: 100%;
// 	}
// }