<form>
  <div class="form-group">
    <label for="seasonFilter">Filtrar por temporada:</label>
    <select [(ngModel)]="seasonFiltervalue" class="form-control" id="seasonFilter" (change)="filterSeason()" [ngModelOptions]="{standalone: true}">
      <option [value]="'all'">Todas</option>
      <option [value]="season.name" *ngFor="let season of seasonsList$ | async">{{ season.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="factionFilter">Filtrar por facción:</label>
    <select [(ngModel)]="factionFiltervalue" class="form-control" id="factionFilter" (change)="filterFaction()" [ngModelOptions]="{standalone: true}">
      <option [value]="'all'">Todas</option>
      <option [value]="faction.name" *ngFor="let faction of factionsList$ | async">{{ faction.name }}</option>
    </select>
  </div>
</form>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2" *ngIf="isWorking">Cargando ...</td>
    </tr>
    <tr *ngFor="let card of cardsList | orderBy: 'number'">
      <td>
        <small>{{ card.number }} ({{ card.season }})</small>
      </td>
      <td>
        <a class="" routerLink="/card/{{card.number}}">{{ card.title }}</a>
      </td>
    </tr>
    <tr class="table-secondary" *ngIf="!isWorking">
      <td colspan="2" *ngIf="cardsList.length === 0">No hay cartas corregidas que mostrar</td>
    </tr>
  </tbody>
</table>
