//   Variables:

$dark-grey: #464646;


//   Fuentes:

@font-face {
  font-family: 'cronospro-regular';
  src: url("../assets/fonts/cronospro-regular-webfont.eot");
  src: url("../assets/fonts/cronospro-regular-webfont.eot?#iefix") format("embedded-opentype"), 
  url("../assets/fonts/cronospro-regular-webfont.woff2") format("woff2"), 
  url("../assets/fonts/cronospro-regular-webfont.woff") format("woff"), 
  url("../assets/fonts/cronospro-regular-webfont.ttf") format("truetype"), 
  url("../assets/fonts/cronospro-regular-webfont.svg#cronospro-regular") format("svg");
}

@font-face {
  font-family: 'cronospro-semibold';
  src: url("../assets/fonts/cronospro-semibold-webfont.eot");
  src: url("../assets/fonts/cronospro-semibold-webfont.eot?#iefix") format("embedded-opentype"), 
  url("../assets/fonts/cronospro-semibold-webfont.woff2") format("woff2"), 
  url("../assets/fonts/cronospro-semibold-webfont.woff") format("woff"), 
  url("../assets/fonts/cronospro-semibold-webfont.ttf") format("truetype"), 
  url("../assets/fonts/cronospro-semibold-webfont.svg#cronospro-semibold") format("svg");
}

//   Comienza el diseño!

* {
	box-sizing: border-box;
	font-family: 'cronospro-regular';
}

body {
	background: #D5D5D5;
}

main {
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
}

.row {
 	margin: 0;
	padding: 0;
}

.bg-nav {
	background: $dark-grey;
	vertical-align: top;

	.img-box {
		width: 100%;
		text-align: center;
		position: relative;

		@media screen and (max-width: 500px) {
			padding: 5px;
		}

		// @media screen and (min-width: 1000px) {
		// 	width: 300px;
		// 	text-align: left;
		// 	display: inline-block;
		// 	margin-right: 20px;
		// 	vertical-align: top;
		// }
	}

	img {
		display: inline-block;

		&.spin {
			height: 100px;

			@media screen and (max-width: 500px) {
				height: 60px;
			}
		}

		&.letter {
			height: 40px;
			position: absolute;
			left: 50%;
			top: 30px;
			transform: translateX(-50.5px);

			@media screen and (max-width: 500px) {
				height: 25px;
				transform: translateX(-36.5px);
				top: 22.5px;
			}

			// @media screen and (min-width: 1000px) {
			// 	left: 0;
			// 	transform: translateX(0px);
			// }
		}
	}
}

.icos-menu {
	width: 100%;
	text-align: center;
	margin-top: 10px;

	// @media screen and (min-width: 1000px) {
	// 	width: 60%;
	// 	text-align: right;
	// 	display: inline-block;
	// 	float: right;
	// 	margin-top: 0px;

	// 	div {
	// 		padding: 5px 0;
	// 	}
	// }

	a {
		display: inline-block;
		height: 45px;
		width: 45px;
		margin: 10px 5%;

		@media screen and (max-width: 600px) {
			margin: 5px 5%;
		}

		@media screen and (max-width: 500px) {
			margin: 5px 4%;
		}

		@media screen and (max-width: 400px) {
			margin: 5px 2%;
		}
	}

	img {
		width: 45px;

		&:hover {
			opacity: 0.7;
			transition: all 0.3s;
		}
	}
}

.container {

	max-width: 100%;
	padding: 0;
}