<main>
	<header class="bg-nav">
		<div class="img-box">
			<img class="spin" src="assets/images/ico-logo.svg" alt="">
			<img class="letter" src="assets/images/wu.svg" alt="">
		</div>
	</header>

	<nav class="icos-menu">
		<div>
			<a href="#"><img src="assets/images/global-cards.png" alt="Cartas globales" title="Cartas globales"></a>
			<a href="#"><img src="assets/images/garrek-cards.png" alt="Saqueadores de Garrek" title="Saqueadores de Garrek"></a>
			<a href="#"><img src="assets/images/steelheart-cards.png" alt="Campeones de Steelheart" title="Campeones de Steelheart"></a>
			<a href="#"><img src="assets/images/sepulcral-cards.png" alt="Guardia sepulcral" title="Guardia sepulcral"></a>
			<a href="#"><img src="assets/images/ironskull-cards.png" alt="Loz chicoz de Ironskull" title="Loz chicoz de Ironskull"></a>
		</div>
		<div>
			<a href="#"><img src="assets/images/hachas-cards.png" alt="Los hachas escogidas" title="Los hachas escogidas"></a>
			<a href="#"><img src="assets/images/spiteclaw-cards.png" alt="El Enjambre de Spiteclaw" title="El Enjambre de Spiteclaw"></a>
			<a href="#"><img src="assets/images/magore-cards.png" alt="Los fanáticos de Magore" title="Los fanáticos de Magore"></a>
			<a href="#"><img src="assets/images/incursores-cards.png" alt="Los incursores raudos" title="Los incursores raudos"></a>
			<a href="#"><img src="assets/images/fav-cards.png" alt="Mis favoritos" title="Mis favoritos"></a>
		</div>
	</nav>

	<div class="container">
	 	<router-outlet></router-outlet>
	</div>
</main>