<div *ngIf="isWorking">
  Cargando ...
</div>
<div *ngIf="card">
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">{{ card.title }}</h4>
      <div class="row">
        <span class="col-4 text-muted text-left">{{ card.type }}</span>
        <span class="col-8 text-muted text-right">{{ card.faction }}</span>
      </div>
    </div>
    <div class="card-body">
      <p innerHTML="{{ card.mainText }}"></p>
      <p class="text-muted text-center" *ngIf="card.type === 'Objetivo'">Puntos de gloria: {{ card.glory }}</p>
      <ng-container *ngIf="card.attackActions.length > 0">
        <table class="table" *ngFor="let attackAction of card.attackActions">
          <thead>
            <tr>
              <th>Alc.</th>
              <th>Dados</th>
              <th>Daño</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ attackAction.range }}</td>
              <td>{{ attackAction.dicesType }} {{ attackAction.dices }}</td>
              <td>{{ attackAction.damage }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
    <div class="card-footer">
      <h5 class="text-center"><small class="text-muted">{{ card.season }} <span class="badge badge-secondary">{{
            card.number }}</span></small></h5>
    </div>
  </div>

  <br>
  <p>
    <button class="btn btn-primary btn-block btn-dark" (click)="goBack()">Volver</button>
  </p>
</div>
