.viewer-box {
	text-align: center;
	margin-top: 20px;

	.figure {
		margin: 0px auto 10px;
		width: 250px;
	}

	.description {
		margin-bottom: 30px;
	}

	.btn {
		background: #464646;
		color: #fff;
		border-radius: 0;

		&:hover {
			background: #A04545;
		}

	}
}